<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
        <div class="position-realive">
            <div class="row position-absolute top-50 start-50 translate-middle justify-content-md-center col-3">
                <h5 class="col-12 text-center fw-bold">短網址產生器</h5>
                <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="col-12"></img>
                    {{{ body }}}
            </div>
        </div>
    <script src="/stylesheets/javascripts/popper.js"></script>
    <script src="/stylesheets/javascripts/bootstrap.js"></script>
</body>
</html>