<form action="/result" method="POST">
    <div class="input-group col-12 p-0">
            <span class="bi bi-link bg-secondary" style="font-size:2rem;"></span>
            <input type="text" class="form-control" placeholder="input URL here" name="url"></input>
        <button type="submit" class="btn btn-dark mt-3 col-12">Shorten</button>
    </div>
</form>